:root {
  --untitled-ui--gray600: #707070;
  --untitled-ui--primary600: #bfa42f;
  --untitled-ui--white: white;
  --untitled-ui--primary700: #978122;
  --untitled-ui--primary100: #fff9e1;
  --untitled-ui--gray500: #858585;
  --untitled-ui--gray700: #545454;
  --untitled-ui--gray50-2: #f9fafb;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #282828;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray800: #393939;
  --untitled-ui--primary50: #fffdf5;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--primary500: #9e77ed;
  --untitled-ui--primary800: #53389e;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-text-size-small {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.show-tablet {
  display: none;
}

.uui-button {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-dropdown-icon {
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  inset: auto 0% auto auto;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-navbar07_item-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  display: flex;
}

.uui-navbar07_icon-wrapper {
  color: var(--untitled-ui--primary600);
  flex: none;
}

.uui-navbar07_dropdown-link {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding: .75rem;
  text-decoration: none;
  transition: all .3s;
  display: grid;
}

.uui-navbar07_dropdown-link:hover {
  background-color: var(--untitled-ui--gray50-2);
}

.uui-navbar07_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: .5rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav {
  border-bottom: 1px solid var(--untitled-ui--gray100);
  background-color: #fff;
  align-items: center;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.uui-navbar07_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar07_logo-link {
  padding-left: 0;
}

.uui-navbar07_menu {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1.5rem;
  display: flex;
  position: static;
}

.uui-navbar07_link {
  color: var(--untitled-ui--gray600);
  align-items: center;
  padding: .75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: all .3s;
}

.uui-navbar07_link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-navbar07_link.w--current {
  color: #000;
}

.uui-navbar07_link.gap {
  margin-right: 2rem;
}

.uui-navbar07_dropdown-toggle {
  color: var(--untitled-ui--gray600);
  align-items: center;
  padding: .75rem 2.5rem .75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
  display: flex;
}

.uui-navbar07_dropdown-toggle:hover {
  color: var(--untitled-ui--gray700);
}

.uui-navbar07_menu-right {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.uui-navbar07_menu-button {
  padding: 0;
}

.uui-navbar07_dropdown-list {
  box-shadow: 0 12px 16px -4px #00000014, 0 4px 6px -2px #10182808;
}

.uui-navbar07_dropdown-list.w--open {
  border: 1px solid var(--untitled-ui--gray200);
  background-color: var(--untitled-ui--white);
  border-radius: .75rem;
  width: 20rem;
  padding: .75rem;
  right: -100%;
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-secondary-gray:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-button-secondary-gray.show-tablet {
  display: none;
}

.uui-button-tertiary-gray {
  grid-column-gap: .5rem;
  color: var(--untitled-ui--gray600);
  white-space: nowrap;
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-button-tertiary-gray:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray700);
}

.uui-navbar07_button-wrapper {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  display: flex;
}

.uui-logo_component {
  flex-wrap: nowrap;
  width: auto;
  height: 2rem;
  display: flex;
}

.uui-logo_logomark {
  border: .1px solid #dae0e8;
  border-radius: .5rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px #1018280f, 0 1px 2px #1018281a;
}

.uui-styleguide_logomark-bg {
  border-radius: 8px;
  width: 2rem;
  height: 2rem;
  position: absolute;
  inset: 0%;
}

.uui-logo_logomark-blur {
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #fff3;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 100%;
  height: 50%;
  position: absolute;
  inset: 50% 0% 0%;
  overflow: hidden;
}

.uui-logo_logomark-dot {
  z-index: 1;
  background-image: linear-gradient(26.5deg, #6941c6, #53389e);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: relative;
}

.uui-logo_logotype {
  flex: none;
  width: auto;
  height: 100%;
}

.uui-navbar07_item-heading {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
}

.uui-logo_image {
  flex: none;
  width: auto;
  height: 100%;
  display: none;
}

.uui-max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-button-2 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-2:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-2:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-2.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-heading-xlarge {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.hero {
  overflow: hidden;
}

.uui-heroheader01_image-wrapper {
  position: relative;
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-heroheader01_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-button-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  display: flex;
}

.uui-button-icon.is-icon-large {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
}

.uui-heroheader01_image {
  object-fit: cover;
  border-top-left-radius: 10rem;
  width: 100%;
  height: 40rem;
}

.uui-heroheader01_fileupload-image-wrapper {
  width: 23rem;
  position: absolute;
  inset: auto auto 5% -16%;
}

.uui-heroheader01_pattern-image {
  width: 18.625rem;
  position: absolute;
  top: -6%;
  right: -21%;
}

.uui-heroheader01_fileupload-image1 {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: .5rem;
  width: 23rem;
  min-width: 23rem;
  margin-bottom: .75rem;
}

.uui-heroheader01_fileupload-image2 {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: .5rem;
  width: 23rem;
  min-width: 23rem;
}

.uui-text-size-xlarge {
  color: var(--untitled-ui--gray600);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-button-secondary-gray-2 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-secondary-gray-2:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray-2:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-button-secondary-gray-2.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-space-large {
  width: 100%;
  min-height: 3rem;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-text-size-medium {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large.align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-text-size-large {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-xxsmall {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-heading-medium {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-icon-1x1-xsmall-2 {
  color: var(--untitled-ui--gray800);
}

.uui-layout77_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.uui-layout77_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
}

.uui-layout77_item {
  flex-direction: column;
  align-items: center;
}

.uui-icon-featured-outline-large {
  border: .5rem solid var(--untitled-ui--primary100);
  background-color: var(--untitled-ui--primary50);
  color: var(--untitled-ui--primary600);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  display: flex;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-heading-subheading {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-heading-xsmall {
  color: var(--untitled-ui--gray900);
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.uui-lightbox_play-icon {
  z-index: 2;
  -webkit-backdrop-filter: saturate(150%) blur(12px);
  backdrop-filter: saturate(150%) blur(12px);
  color: #fff;
  background-color: #ffffff1a;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  position: absolute;
}

.lightbox_video-overlay-layer {
  z-index: 1;
  background-color: #1d29391a;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.uui-layout62_tabs-link {
  border-left: 4px solid var(--untitled-ui--gray100);
  background-color: #0000;
  padding: 1.5rem 0 1.5rem 2rem;
  display: block;
}

.uui-layout62_tabs-link.w--current {
  border-left-width: 4px;
  border-left-color: var(--untitled-ui--primary600);
  opacity: 1;
  background-color: #0000;
}

.uui-layout62_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  display: grid;
}

.uui-layout62_image-wrapper {
  background-color: var(--untitled-ui--gray100);
  width: 100%;
  height: 100%;
  min-height: 35rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-layout62_image-02 {
  width: 18rem;
  min-width: 18rem;
  position: absolute;
  top: 7rem;
  left: 2rem;
  right: 0%;
}

.uui-layout62_image-01 {
  width: 24rem;
  min-width: 24rem;
  position: absolute;
  top: 2rem;
  left: auto;
  right: -1.5rem;
}

.uui-layout62_lightbox {
  background-color: var(--untitled-ui--gray100);
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 33rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-layout62_lightbox-image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  inset: auto 3rem auto auto;
}

.uui-icon-1x1-xsmall-3 {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-contact07_map-wrapper {
  width: 100%;
  height: 35rem;
  margin-top: 4rem;
  position: relative;
}

.uui-contact07_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-contact07_item-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.uui-contact07_item {
  display: flex;
}

.uui-contact07_contact-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.uui-contact07_map {
  height: 100%;
  overflow: hidden;
}

.contact {
  background-color: var(--untitled-ui--gray50-2);
}

.uui-text-style-link-02 {
  color: var(--untitled-ui--primary700);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.icon-featured-large {
  background-color: var(--untitled-ui--primary100);
  color: var(--untitled-ui--primary600);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.uui-contact07_map-placeholder {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.div-block {
  width: 100px;
  height: 1rem;
}

.uui-text-align-center {
  text-align: center;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-logos04_list {
  white-space: nowrap;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  place-items: center start;
  width: 145rem;
  display: flex;
}

.uui-logos04_wrapper {
  justify-content: center;
  align-items: flex-start;
  padding: .75rem 1.5rem;
  display: flex;
}

.uui-logos04_logo {
  height: 8rem;
}

.uui-logo-loop_inner {
  display: flex;
}

.logos {
  overflow: hidden;
}

.uui-logo-loop_component {
  height: 4.5rem;
  margin-top: 2rem;
}

.uui-space-xxlarge {
  width: 100%;
  min-height: 5rem;
}

.uui-logos04_text {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.uui-logos01_wrapper {
  justify-content: center;
  align-items: flex-start;
  padding: .75rem 1.5rem;
  display: flex;
}

.uui-logos01_component {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.uui-logos01_logo {
  height: 2.5rem;
}

.uui-logos01_text {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.uui-logos03_component {
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.uui-logos03_content-left {
  max-width: 20rem;
}

.uui-logos03_logo-list {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: grid;
}

.uui-logos03_logo {
  height: 3rem;
}

.uui-logos03_wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.uui-logos03_text {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.uui-text-size-small-2 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-text-size-small-2.text-color-gray500 {
  color: var(--untitled-ui--gray500);
}

.uui-footer07_top-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.uui-footer07_legal-link {
  color: var(--untitled-ui--gray500);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_legal-link:hover {
  color: var(--untitled-ui--gray600);
}

.uui-footer07_logo-link {
  margin-bottom: 2rem;
  padding-left: 0;
}

.uui-footer07_link {
  color: var(--untitled-ui--gray600);
  text-align: center;
  padding: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-footer07_bottom-wrapper {
  border-top: 1px solid var(--untitled-ui--gray200);
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-top: 2rem;
  display: flex;
}

.uui-footer07_legal-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.uui-footer07_link-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.uui-logo_component-2 {
  flex-wrap: nowrap;
  width: auto;
  height: 2rem;
  display: flex;
}

.uui-logo_logomark-2 {
  border: .1px solid #dae0e8;
  border-radius: .5rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px #1018280f, 0 1px 2px #1018281a;
}

.uui-styleguide_logomark-bg-2 {
  border-radius: 8px;
  width: 2rem;
  height: 2rem;
  position: absolute;
  inset: 0%;
}

.uui-logo_logomark-blur-2 {
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #fff3;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 100%;
  height: 50%;
  position: absolute;
  inset: 50% 0% 0%;
  overflow: hidden;
}

.uui-logo_logomark-dot-2 {
  z-index: 1;
  background-image: linear-gradient(26.5deg, #6941c6, #53389e);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: relative;
}

.uui-logo_logotype-2 {
  flex: none;
  width: auto;
  height: 100%;
}

.uui-padding-vertical-xlarge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.uui-logo_image-2 {
  flex: none;
  width: auto;
  height: 100%;
  display: none;
}

.uui-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-text-size-large-2 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-medium-2 {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-button-3 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-3:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-3:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-row-2 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row-2.button-row-center {
  justify-content: center;
}

.uui-layout49_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-button-secondary-gray-3 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-secondary-gray-3:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray-3:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-layout49_image-wrapper {
  background-image: url('../images/s_Phone-Repair-Apr-14-2025.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 33rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-layout49_image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  inset: auto 3rem auto auto;
}

.uui-space-xsmall-2 {
  width: 100%;
  min-height: 1rem;
}

.uui-space-medium {
  width: 100%;
  min-height: 2rem;
}

.uui-padding-vertical-xhuge-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-heading-subheading-2 {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-text-size-medium-2 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-text-size-medium-2.text-color-primary700 {
  color: var(--untitled-ui--primary700);
}

.uui-text-align-center-2 {
  text-align: center;
}

.align-center-2 {
  margin-left: auto;
  margin-right: auto;
}

.uui-max-width-large-2 {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large-2.align-center-2 {
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.social-link {
  color: var(--untitled-ui--gray400);
  transition: all .3s;
}

.social-link:hover {
  color: var(--untitled-ui--gray500);
}

.uui-team02_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.uui-team02_image-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.uui-team02_item {
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.uui-team02_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  display: grid;
}

.uui-team02_component {
  margin-top: 4rem;
}

.uui-team02_social {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: center;
  margin-top: 1.5rem;
  display: grid;
}

.uui-heading-tiny {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

.code-embed {
  margin-top: 4rem;
}

.link {
  color: var(--untitled-ui--gray500);
  text-decoration: none;
}

.div-block-2 {
  width: 2rem;
  height: 100%;
}

.uui-text-size-medium-3 {
  color: var(--untitled-ui--primary700);
  text-align: center;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-text-align-center-3 {
  text-align: center;
}

.uui-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-max-width-large-3 {
  width: 100%;
  max-width: 48rem;
}

.uui-text-size-large-3 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-xxsmall-2 {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-heading-medium-3 {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-button-4 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-4:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-4:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-row-3 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row-3.button-row-center {
  justify-content: center;
}

.uui-layout76_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.uui-layout76_list {
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
}

.uui-layout76_image {
  border-radius: 16px;
  width: 100%;
}

.uui-layout76_item {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.uui-layout76_image-wrapper {
  background-color: var(--untitled-ui--gray50-2);
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.uui-button-secondary-gray-4 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.uui-button-secondary-gray-4:hover {
  background-color: var(--untitled-ui--gray50-2);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray-4:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 #1018280d, 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-space-xsmall-3 {
  width: 100%;
  min-height: 1rem;
}

.uui-space-xxsmall-2 {
  width: 100%;
  min-height: .5rem;
}

.uui-padding-vertical-xhuge-3 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-heading-subheading-3 {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-text-size-medium-4 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-icon-1x1-xsmall-4 {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-text-style-link-02-2 {
  color: var(--untitled-ui--primary700);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.uui-contact13_component {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch start;
  margin-top: 4rem;
  display: grid;
}

.uui-contact13_item {
  background-color: var(--untitled-ui--gray50-2);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  display: flex;
}

.icon-featured-square-large {
  background-color: var(--untitled-ui--primary500);
  color: var(--untitled-ui--white);
  border-radius: .625rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.uui-space-small-2 {
  width: 100%;
  min-height: 1.5rem;
}

.uui-space-xxlarge-2 {
  width: 100%;
  min-height: 5rem;
}

.code-embed-2 {
  margin-top: 4rem;
}

.uui-text-size-medium-5 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-text-size-medium-5.text-color-primary700 {
  color: var(--untitled-ui--primary700);
}

.social-icon-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.social-link-2 {
  color: var(--untitled-ui--gray400);
  transition: all .3s;
}

.social-link-2:hover {
  color: var(--untitled-ui--gray500);
}

.uui-team03_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.uui-team03_social {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: flex-start;
  margin-top: 1rem;
  display: grid;
}

.uui-team03_item {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.uui-team03_image {
  object-fit: cover;
  border-radius: 100%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
}

.uui-team03_image-wrapper {
  margin-bottom: 1.25rem;
}

.uui-team03_component {
  margin-top: 4rem;
}

.uui-team03_cta {
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  background-color: var(--untitled-ui--gray50-2);
  border-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  margin-top: 4rem;
  padding: 2rem;
  display: grid;
}

.uui-team03_cta-content {
  flex: 1;
}

.uui-team03_cta-button-row {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-heading-tiny-2 {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-layout73_item {
  flex-direction: column;
  align-items: center;
}

.uui-layout73_component {
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.uui-button-link {
  grid-column-gap: .5rem;
  color: var(--untitled-ui--primary700);
  white-space: nowrap;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-button-link:hover {
  color: var(--untitled-ui--gray600);
}

.uui-button-icon-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  display: flex;
}

.uui-layout73_image-wrapper {
  background-color: var(--untitled-ui--gray50-2);
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.uui-layout73_image {
  width: 100%;
}

.div-block-3 {
  background-image: url('../images/Group-2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.5rem;
  height: 3.5rem;
}

.div-block-4 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.link-2 {
  color: var(--untitled-ui--gray500);
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }

  .show-tablet {
    display: block;
  }

  .uui-dropdown-icon {
    color: var(--untitled-ui--gray500);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    inset: auto 0% auto auto;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-bottom {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-top {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .uui-navbar07_dropdown-link {
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar07_dropdown-link:hover {
    background-color: #0000;
  }

  .uui-navbar07_dropdown-link-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-navbar07_menu {
    border-top: 1px solid var(--untitled-ui--gray100);
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    align-items: flex-start;
    height: 100vh;
    margin-left: 0;
    padding: 1.5rem 2rem 5rem;
    position: absolute;
    overflow: auto;
  }

  .uui-navbar07_menu-left {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    color: var(--untitled-ui--gray900);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .uui-navbar07_link {
    color: var(--untitled-ui--gray900);
    width: 100%;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .uui-navbar07_link:hover {
    color: var(--untitled-ui--gray900);
  }

  .uui-navbar07_menu-dropdown {
    width: 100%;
    position: relative;
  }

  .uui-navbar07_dropdown-toggle {
    color: var(--untitled-ui--gray900);
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .uui-navbar07_dropdown-toggle:hover {
    color: var(--untitled-ui--gray900);
  }

  .uui-navbar07_menu-right {
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    padding-bottom: 7rem;
  }

  .uui-navbar07_menu-button.w--open {
    background-color: #0000;
  }

  .uui-navbar07_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .uui-navbar07_dropdown-list.w--open {
    box-shadow: none;
    border-style: none;
    border-color: #0000;
    width: auto;
    padding: 0;
  }

  .uui-button-secondary-gray.show-tablet {
    display: block;
  }

  .uui-navbar07_button-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    display: flex;
  }

  .uui-heading-xlarge {
    font-size: 3.25rem;
  }

  .uui-heroheader01_component {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .uui-heroheader01_fileupload-image-wrapper {
    left: -2.5%;
  }

  .uui-space-large {
    min-height: 2.5rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-layout62_component {
    grid-column-gap: 3rem;
  }

  .uui-layout62_image-02 {
    display: none;
  }

  .uui-layout62_image-01 {
    width: 100%;
    min-width: auto;
    top: 3%;
    right: -5%;
  }

  .uui-layout62_lightbox-image {
    width: 35rem;
    min-width: 35rem;
    right: 2rem;
  }

  .uui-contact07_map-wrapper {
    height: 30rem;
  }

  .uui-contact07_component {
    grid-column-gap: 3rem;
  }

  .uui-space-xxlarge {
    min-height: 4.5rem;
  }

  .uui-logos03_component {
    grid-column-gap: 3rem;
    align-items: start;
  }

  .uui-logos03_content-left {
    max-width: 16rem;
  }

  .uui-logos03_logo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .uui-button-row-2.is-reverse-mobile-landscape {
    display: none;
  }

  .uui-layout49_component {
    grid-column-gap: 3rem;
    grid-auto-flow: row;
    min-height: auto;
  }

  .uui-layout49_image {
    width: 35rem;
    min-width: 35rem;
    right: 2rem;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-team02_list {
    grid-template-columns: 1fr 1fr;
  }

  .uui-padding-vertical-xhuge-3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-contact13_component {
    grid-template-columns: 1fr 1fr;
  }

  .uui-space-xxlarge-2 {
    min-height: 4.5rem;
  }

  .uui-team03_list {
    grid-template-columns: 1fr 1fr;
  }

  .uui-team03_cta {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .uui-team03_cta-content {
    margin-right: 3rem;
  }

  .uui-team03_cta-button-row {
    flex: none;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-navbar07_dropdown-link-list {
    grid-row-gap: .5rem;
    max-width: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .nav {
    min-height: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-navbar07_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-navbar07_link, .uui-navbar07_dropdown-toggle {
    font-size: 1rem;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-button-tertiary-gray:hover {
    color: var(--untitled-ui--gray600);
    background-color: #0000;
  }

  .uui-styleguide_logomark-bg {
    background-image: url('../images/untitled-ui-logomark.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-2 {
    font-size: 1rem;
  }

  .uui-button-2:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button-2.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-heading-xlarge {
    font-size: 2.25rem;
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .uui-button-icon.is-icon-large {
    width: 1.25rem;
    height: 1.25rem;
  }

  .uui-heroheader01_image {
    border-top-left-radius: 6rem;
    height: 22rem;
  }

  .uui-heroheader01_pattern-image {
    width: 14.9rem;
    top: auto;
    bottom: -15%;
    right: -10%;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-button-secondary-gray-2 {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray-2:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-button-secondary-gray-2.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-space-large {
    min-height: 2rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-layout77_component {
    align-items: stretch;
  }

  .uui-layout77_list {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-heading-xsmall {
    font-size: 1.25rem;
  }

  .uui-lightbox_play-icon {
    width: 4rem;
    height: 4rem;
  }

  .uui-layout62_tabs-link {
    padding-left: 1.5rem;
  }

  .uui-layout62_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-layout62_image-wrapper {
    height: 24rem;
    min-height: auto;
  }

  .uui-layout62_image-02 {
    width: 50%;
    min-width: auto;
    display: block;
    top: 25%;
    left: 5%;
  }

  .uui-layout62_image-01 {
    width: 60%;
    min-width: 60%;
    top: 2%;
    right: 0%;
  }

  .uui-layout62_lightbox {
    min-height: auto;
    padding: 1.5rem 1rem;
  }

  .uui-layout62_lightbox-image {
    width: 100%;
    min-width: 100%;
    position: static;
  }

  .uui-contact07_map-wrapper {
    height: 25rem;
    margin-top: 3rem;
  }

  .uui-contact07_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-contact07_contact-list {
    grid-row-gap: 2.5rem;
  }

  .uui-logos04_list {
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    width: 60rem;
  }

  .uui-logos04_wrapper {
    padding: .5rem 1rem;
  }

  .uui-logos04_logo {
    height: 4rem;
  }

  .uui-logo-loop_component {
    height: 3.5rem;
  }

  .uui-space-xxlarge {
    min-height: 3rem;
  }

  .uui-logos01_wrapper {
    padding: .5rem 1rem;
  }

  .uui-logos03_component {
    grid-row-gap: 1.25rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .uui-logos03_content-left {
    max-width: none;
  }

  .uui-logos03_logo-list {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }

  .uui-logos03_logo {
    height: 2.5rem;
  }

  .uui-logos03_wrapper {
    width: auto;
  }

  .uui-footer07_legal-link:hover {
    color: var(--untitled-ui--gray400);
  }

  .uui-footer07_link:hover {
    color: var(--untitled-ui--gray500);
  }

  .uui-footer07_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
  }

  .uui-footer07_legal-list {
    margin-bottom: 1rem;
  }

  .uui-footer07_link-list {
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
  }

  .uui-styleguide_logomark-bg-2 {
    background-image: url('../images/untitled-ui-logomark.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .uui-page-padding-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-width-full-mobile-landscape-2 {
    width: 100%;
    max-width: none;
  }

  .uui-text-size-large-2 {
    font-size: 1rem;
  }

  .uui-heading-medium-2 {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-button-3 {
    font-size: 1rem;
  }

  .uui-button-3:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button-row-2 {
    align-self: stretch;
  }

  .uui-button-row-2.is-reverse-mobile-landscape, .uui-button-row-2.button-row-center.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-button-wrapper-2.max-width-full-mobile-landscape-2 {
    width: 100%;
  }

  .uui-layout49_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-button-secondary-gray-3 {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray-3:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-layout49_image-wrapper {
    min-height: 20rem;
    padding: 1.5rem 1rem;
  }

  .uui-layout49_image {
    width: 100%;
    min-width: 100%;
    position: static;
  }

  .uui-space-xsmall-2 {
    min-height: .75rem;
  }

  .uui-space-medium {
    min-height: 1.5rem;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .social-link:hover {
    color: var(--untitled-ui--gray400);
  }

  .uui-team02_image-wrapper {
    height: 100%;
  }

  .uui-team02_list {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .uui-team02_component {
    margin-top: 3rem;
  }

  .uui-page-padding-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .max-width-full-mobile-landscape-3 {
    width: 100%;
    max-width: none;
  }

  .uui-text-size-large-3 {
    font-size: 1rem;
  }

  .uui-heading-xxsmall-2 {
    font-size: 1.125rem;
  }

  .uui-heading-medium-3 {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-button-4 {
    font-size: 1rem;
  }

  .uui-button-4:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button-row-3 {
    align-self: stretch;
  }

  .uui-button-row-3.button-row-center.is-reverse-mobile-landscape, .uui-button-row-3.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-button-wrapper-3.max-width-full-mobile-landscape-3 {
    width: 100%;
  }

  .uui-layout76_component {
    align-items: stretch;
  }

  .uui-layout76_list {
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .uui-layout76_image-wrapper {
    margin-bottom: 1.5rem;
  }

  .uui-button-secondary-gray-4 {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray-4:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-space-xsmall-3 {
    min-height: .75rem;
  }

  .uui-padding-vertical-xhuge-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-contact13_component {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .uui-contact13_item {
    padding: 1.5rem;
  }

  .uui-space-small-2 {
    min-height: 1.25rem;
  }

  .uui-space-xxlarge-2 {
    min-height: 3rem;
  }

  .social-link-2:hover {
    color: var(--untitled-ui--gray400);
  }

  .uui-team03_list {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .uui-team03_image-wrapper {
    margin-bottom: 1rem;
  }

  .uui-team03_component {
    margin-top: 3rem;
  }

  .uui-team03_cta {
    grid-column-gap: 3rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .uui-team03_cta-content {
    margin-right: 0;
  }

  .uui-team03_cta-button-row {
    flex-flow: wrap-reverse;
    justify-content: flex-start;
    width: 100%;
  }

  .uui-layout73_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-button-link {
    font-size: 1rem;
  }

  .uui-button-link:hover {
    color: var(--untitled-ui--primary700);
  }

  .uui-layout73_image-wrapper {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-navbar07_dropdown-link {
    padding-left: 0;
  }

  .uui-heroheader01_component {
    grid-template-columns: 1fr;
  }

  .uui-heroheader01_image {
    border-top-left-radius: 4rem;
    height: 15rem;
  }

  .uui-heroheader01_pattern-image {
    width: 12.125rem;
    bottom: -25%;
    right: -20%;
  }

  .uui-layout62_image-02 {
    top: 20%;
  }

  .uui-layout62_image-01 {
    width: 80%;
    right: -7%;
  }

  .uui-contact07_component {
    grid-template-columns: 1fr;
  }

  .uui-logos04_list {
    justify-content: center;
  }

  .uui-logos04_wrapper, .uui-logos01_wrapper {
    justify-content: center;
    align-items: flex-start;
  }

  .uui-logos01_component, .uui-logos03_logo-list {
    justify-content: center;
  }

  .uui-footer07_link-list {
    grid-template-rows: auto auto auto;
  }

  .uui-layout49_image-wrapper {
    min-height: 12rem;
  }

  .uui-team02_image-wrapper {
    padding-top: 66%;
  }

  .uui-team02_list, .uui-contact13_component {
    grid-template-columns: 1fr;
  }
}

#w-node-cc5b0553-5c44-efe0-5626-8ea4b524b67a-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b67c-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b67e-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b680-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b682-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b684-1df4f4c4, #w-node-cc5b0553-5c44-efe0-5626-8ea4b524b686-1df4f4c4 {
  justify-self: center;
}

#w-node-_43d11c74-13c5-a680-954c-d385619f2020-1df4f4c4, #w-node-_43d11c74-13c5-a680-954c-d385619f202a-1df4f4c4, #w-node-_43d11c74-13c5-a680-954c-d385619f2034-1df4f4c4 {
  align-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-d8756411-a555-d50a-7ef3-55e134e68ad1-1df4f4c4 {
    order: -9999;
  }
}


